.social-login
    button.social-login--google
        a(href=routes.google)
            span
                i.fab.fa-google-plus-g
            | Continue with Google &nbsp; &nbsp;
    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook-square
            | Continue with Facebook
    button.social-login--kakaotalk
        a(href=routes.kakao)
            span
                i.xi-x.xi-kakaotalk
            | Continue with KakaoTalk
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
            | Continue with Github &nbsp; &nbsp; &nbsp;&nbsp;