.header {
    background-color: $red;
    margin-bottom: 50px;
    .header__wrapper {
      padding: 5px 0px;
      width: 100%;
      margin: 0 auto;
      max-width: 1200px;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      align-items: center;
      .header__column {
        min-height: 38px;
        i {
          color: white;
          font-size: 30px;
        }
        span {
          vertical-align: super;
          font-size: 22px;
          color: white;
          font-family: fantasy;
          position: absolute;
          padding-top: 6px;
        }
        &:first-child{
          i{
            padding-top: 3px;
          }
        }
        &:nth-child(2) {
          width: 100%;
          justify-self: center;
          form{
            margin-top: 3px;
          }
        }
        &:last-child {
          justify-self: end;
        }
        ul {
          display: flex;
          color: white;
          text-transform: uppercase;
          li{
            div{
              padding-top: 6px;
              font-size: 22px;
              font-family: fantasy;
            }
          }
          li:nth-child(1){
            i{
              font-size: 36px;
            }
          }
          li:nth-child(2){
            i{
              padding-top: 6px;
              font-size: 25px;
              vertical-align: -webkit-baseline-middle;
            }
          }
          li:not(:last-child) {
            margin-right: 10px;
          }

        }
        form {
          width: 100%;
          input {
            padding: 7px 10px;
            width: 100%;
            border-radius: 5px;
            font-size: 14px;
            color: $black;
            font-weight: 600;
            max-width: none;
            &::placeholder {
              font-weight: 300;
              color: rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }