mixin videoPlayer(video = {})  
    .videoPlayer#jsVideoPlayer
        video(src=video.src)#myVideo
        .videoPlayer__controls
            .videoPlayer__column
                div#jsPlayBtn
                    i.fas.fa-play
            .videoPlayer__column
                div#jsSeek
                div#jsTime
                    span#jsCurrentTime 00:00:00
                    span|&nbsp;/&nbsp;
                    span#jsTotalTime 00:00:00
                div#jsTotalProgress
                    div#jsCurrentProgress
            .videoPlayer__column
                div#jsVolumeBtn
                    i.fas.fa-volume-up
                    div.volumeRange
                        input.inputRange(type="range", min="0" max="1" value="0.5" step="0.1")#jsVolume
                div#jsFullScreen
                    i.fas.fa-expand
        div(hidden)#spinner
                
