extends layouts/main
include mixins/videoBlock

block content  
    .search_header 
    if videos.length === 0
      div.novideo
        img(src="http://fmda.in/images/found.gif")
    else
     .search__videos
       each item in videos
        +videoBlock({
                title:item.title,
                views:item.views,
                videoFile:item.fileUrl,
                id:item.id
            })