.commentBlock{
text-align: left;
margin-right: 10px;
margin-bottom: 12px;
width: 300px;
background-color: #3498db;
color: white;
padding: 15px;
-webkit-border-radius: 20px;
border-radius: 20px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
i {
cursor: pointer;
    }
}