.videoBlock {
  overflow: hidden;
  position: relative;

  video {
    height: 230px;
    width: 230px;
  }

  .videoBlock__creator {
    margin-bottom: 5px;
    font-size: 12px;
  }

  .videoBlock__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .videoBlock__views {
    display: inline-block;
    float: left;
    font-size: 12px;
  }

  .videoBlock__date {
    font-size: 12px;
    margin-bottom: 3px;
  }

}